*/__pycache__/
*.aux
*.log
*.out
*.pdf
*.bbl
*.blg
*.synctex.gz
*.html
*.png
*.jpg
*.svg
*.pgf
*.csv
*.csv#
*.ipynb_checkpoints
*:Zone.Identifier
*.pth
*.idea
*.npy
*.ttl
*.json
!outputs/statistics/rdf.ttl
!outputs/statistics/mapped_entities.csv
!outputs/statistics/mapped_entities corrected.csv
